.cars-container {
  height: 90vh;
  width: 100%;
  border: 2px solid blue;
  display: grid;
  grid-template-columns: repeat(auto-fit, 350px);
  gap: 15px;
  justify-content: center;
  padding: 2%;
}

.cars-container div {
  padding: 20px;
  width: 350px;

  height: 350px;
}

@media only screen and (max-width: 500px) {
  .cars-container {
    justify-content: center;
  }
}
