.navbar{
  padding: 25px 40px;
  display: flex;
  font-size: 30px;
  border: 2px solid red;
  gap: 35%;
  background-color: rgba(44, 2, 2, 0.723);
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid blue;
}

.navbar a {
  color: white;
}

.navbar-icon {
  width: 8%
}

.navbar-icon-img {
  width: 100%;
}

@media (max-width: 600px) {
  .navbar{
    gap: 20%;
  }

  .navbar-icon {
    width: 60px;
  }
  
}


