.navbar{
  padding: 25px;
  display: flex;
  font-size: 30px;
  border: 2px solid red;
  gap: 20%;
  background-color: rgba(44, 2, 2, 0.723);
}

.navbar div {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid blue;
}

.navbar a {
  color: white;
}

.navbar-icon {
  display: flex;
  width: 56px;
}

.navbar-icon-img {
  width: 100%;
}


